<% provide(:title, '出勤中社員一覧') %>
<h1>出勤中社員一覧</h1>
<div>
  <table class="table table-bordered table-striped table-condensed table-status" id="table-attendances">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前　　</th>
      </tr>
    </thead>
    <% @working_users.each do |user| %>
    <tbody>
      <tr>
        <td><%= user[:employee_number] %></td>
        <td><%= user[:name] %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>